{% extends 'index.html' %}

{% block content %}
    <!-- ======= About Section ======= -->
    {% include 'about.html' %}

    <!-- ======= Whu Us Section ======= -->
    {% include 'why_us.html' %}

    <!-- ======= Menu Section ======= -->
    {% include 'main_menu.html' %}

    <!-- ======= Specials Section ======= -->
    {% include 'special.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}

    <!-- ======= Book A Table Section ======= -->
    {% include 'booking.html' %}

    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'chefs.html' %}

    <!-- ======= Testimonials Section ======= -->
    {% include 'testimonials.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}

{% endblock %}